@page
@model QuizOnlineWeb.Pages.DoTestModel
@{
}
<form method="POST" asp-page-handler="SubmitTest">

@foreach (var question in Model.questionDTOs)
{
	<table>
		<tr>
			<th>@question.Question.QuestionContent</th>
		</tr>
		<tr>
			@foreach (var answer in question.Answers)
			{
			<tr>
				<td>
					<input type="checkbox" name="answers" value='@question.Question.QuestionId+@answer.AnswerId'/>@answer.AnswerContent					
				</td>
			</tr>
			}
		</tr>
	</table>
}
<button type="submit" id="submit" onclick="submitAnswer()">Submit</button>
</form>
<script>
	
</script>