@page
@model IndexModel
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (string.IsNullOrEmpty(HttpContext.Session.GetString("Username")))
    {
        <span>Xin chào, vui lòng đăng nhập để sử dụng phần mềm.</span>
    <button class="btn btn-outline-success" onclick="window.location.href='/Login'" type="submit">
        Login
    </button>
    }
    else
    {
        <form asp-page="/Login" method="POST" asp-page-handler="EnterTest">
            <input type="text" name="testCode"/>
            <button type="submit">Enter test</button>
        </form>
    }
</div>
