@page
@model QuizOnlineWeb.Pages.LoginModel
@{
}

<form method="POST" asp-page-handler="Login">
    <span>Username: <input type="text" name="username" asp-for="@Model.loginUser.username"/></span></br>
    <span>Password: <input type="password" name="password" asp-for="@Model.loginUser.password" /></span>
    <button type="submit">Login</button>
</form>